* {
    box-sizing: border-box;
}

body {
    font-family: 'Verdana', sans-serif;
}

header {
    margin: auto;
    width: 50vw;
}

header h1 {
    font-size: 74px;
    margin: 16px 0;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div {
    height: 200px;
    background-color: coral;
    color: white;
    text-align: center;
    text-transform: uppercase;
    line-height: 200px;
}