* {
    box-sizing: border-box;
}

body {
    display: flex;
}

.container {
    position: relative;
    width: 50%;
}

.footer {
    clear: both;
}

.red {
    background-color: red;
    float: right;
}

.green {
    background-color: green;
    float: left;
}