* {
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    margin: 16px;
    flex-grow: 0;
}

input {
    margin-bottom: 8px;
    align-self: flex-start;
}

.languages,
select,
textarea {
    margin-bottom: 8px;
    align-self: flex-start;
}