* {
    box-sizing: content-box;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 8px;
    align-self: flex-start;
}

select,
textarea {
    margin-bottom: 8px;
    align-self: flex-start;
}

.languages {
    margin-bottom: 8px;
}