html {
    font-size: 18px;
}

.font-in-px {
    font-size: 27px;
}

.font-in-px {
    font-size: 1.5em;
}

.font-in-px {
    font-size: 5wv;
}

.font-in-px {
    font-size: 150%;
}

.font-in-px {
    font-size: 1.5rem;
}