.block_red {
    width: 20%;
    float: left;
    height: 200px;
    background-color: red;
}

.block_green {
    width: 20%;
    float: left;
    height: 200px;
    background-color: green;
}

.block_blue {
    width: 20%;
    float: left;
    height: 200px;
    background-color: blue;
}

.block_yellow {
    width: 20%;
    float: left;
    height: 200px;
    background-color: yellow;
}

.block_black {
    width: 20%;
    float: left;
    height: 200px;
    background-color: black;
}