* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header {
    display: flex;
    /* justify-content: center; */
    height: 3em;
    padding: 0 1em;
    background-color: #eee;
}

.btn {
    display: block;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.navigation {
    width: 20vw;
}

.nav-list {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 1em;
}

.nav-list-item {
    background-color: #808080;
    height: 2em;
    color: white;
    margin: 0.5em 0;
}

.nav-list-link {
    display: block;
    padding-left: 0.5em;
    color: white;
    text-decoration: none;
    line-height: 2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (min-width: 600px) {
    .btn {
        display: none;
    }
    .nav-list {
        display: block;
    }
}