* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    height: 40px;
}

header {
    display: flex;
    background-color: yellow;
}

main {
    display: flex;
    flex-grow: 1;
    /* height: 100%; */
}

aside {
    display: flex;
    width: 200px;
    background-color: grey;
}

section {
    display: flex;
    flex-grow: 1;
    background-color: pink;
}

footer {
    display: flex;
    background-color: green;
}

.aside__cont {
    display: flex;
    justify-content: center;
}