* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header,
.footer {
    height: 40px;
}

.header {
    display: flex;
    align-items: center;
    background-color: yellow;
}

.list {
    display: flex;
}

li {
    margin: 16px;
}

ul {
    list-style-type: none;
}

.main {
    display: flex;
    flex-grow: 1;
}

.dashboard {
    display: flex;
    flex-grow: 1;
    background-color: pink;
}

span {
    margin: auto;
}

.sidebar {
    display: flex;
    width: 200px;
    flex-direction: column;
    background-color: grey;
}

.news {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    background-color: green;
}